* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Yekan-Bakh";
  }
  a {
    text-decoration: none;
    color: unset;
  }
  ul {
    list-style-type: none;
  }
  img {
    display: block;
    width: 100%;
  }
 